---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/Postcard.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<BaseLayout>
  <h1>All Posts</h1>

  {posts.map((post) => (
    <PostCard
      title={post.data.title}
      description={post.data.description}
      pubDate={post.data.pubDate}
      href={`/posts/${post.slug}/`}
    />
  ))}
</BaseLayout>